// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome 
$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.ingredients a {
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;
    color: #666;
    border: 1px solid #dedede;
    border-radius: 50px;
    margin: 5px;
    font-size: 12px;
}